@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: sans-serif;
	}
	body{
		background: url("fondo.png");
		background-repeat: repeat;

	}
	.capa{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: rgba(0,0,0,0.6);
		z-index: -1;
		top: 0;left: 0;
	}
	/*Estilos para el encabezado*/
	.header{
		background: url("header.png");
		background-size: 100vw 100vh;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 20;
		box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
	}
	.container{
		width: 90%;
		max-width: 1200px;
		margin: auto;
		
	}
	div#general{
		margin: auto;
		margin-top: 10;
		width: 960;
		height: 800px;
		/*background-color: red;*/
	}
	div#selectboxes{
		margin: auto;
		margin-top: 20;		
		display: flex;
		color: white;
	}
	div#selectBox1{
		margin: auto;
		margin-top: 100;
		margin-left: 100px;
		display: flex;
	}
	div#selectBox2{
		margin: auto;
		margin-top: 100;
		margin-right: 100px;
		display: flex;
	}


/*CARGAR IMAGEN Y PREVIEW*/
.img-preview {
    width: 256px;
    height: 256px;
    position: relative;
    border: 2px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    margin-bottom: 1em;    
}
.img-prueba{

	width: 256px;
    height: 256px;
    position: relative;
    
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    margin-bottom: 1em; 
}

.img-preview>div {
    width: 100%;
    height: 100%;
    background-size: 256px 256px;
    background-repeat: no-repeat;
    background-position: center;
}

input[type="file"] {
    display: none;
	color: white;
}

.upload-label{
    display: inline-block;
    padding: 12px 30px;
    background: #39D2B4;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}

.upload-label:hover{
    background: #34495E;
    color: #39D2B4;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*CARGAR IMAGEN Y PREVIEW*/














	div#evaluarmodelo{
		margin: auto;
		margin-top: 30;	
		margin-left: 120px;	
		display: flex;
		background-color: #11ffee00;
	}
	div#content{
		margin: auto;
		margin-left: 20px;
		font-family: sans-serif;
		color: white;
	}
	div#resultado{
		margin: auto;
		margin-right: 200px;
		font-family: sans-serif;
		color: white;
	}
	
	div#botonesInferiores{
		margin: auto;
		margin-top: 5px;		
		display: flex;	
	}
	div#iniciarPrueba{
		margin: auto;
		margin-left: 600px;
	}
	div#limpiar{
		margin: auto;
		margin-right: 150px;	
	}

	.container .btn-menu, .logo{
		float: left;
		line-height:100px;
	}
	.container .btn-menu label{
		color: #fff;
		font-size: 25px;
		cursor: pointer;
	}
	.logo h1{
		color: #fff;
		font-weight: 400;
		font-size: 22px;
		margin-left: 10px;
	}
	.container .menu{
		float: right;
		line-height: 100px;
	}
	.container .menu a{
		display: inline-block;
		padding: 15px;
		line-height: normal;
		text-decoration: none;
		color: #fff;
		transition: all 0.3s ease;
		border-bottom: 2px solid transparent;
		font-size: 15px;
		margin-right: 5px;
	}
	.container .menu a:hover{
		border-bottom: 2px solid #c7c7c7;
		padding-bottom: 5px;
	}
	/*Fin de Estilos para el encabezado*/

	/*Menù lateral*/
	#btn-menu{
		display: none;
	}
	.container-menu{
		position: absolute;
		background: rgba(0,0,0,0.5);
		width: 100%;
		height: 100vh;
		top: 0;left: 0;
		transition: all 500ms ease;
		opacity: 0;
		z-index: 999;
		visibility: hidden;
	}
	#btn-menu:checked ~ .container-menu{
		opacity: 1;
		visibility: visible;
	}
	.cont-menu{
		width: 100%;
		max-width: 250px;
		background: #1c1c1c;
		height: 100vh;
		position: relative;
		transition: all 500ms ease;
		transform: translateX(-100%);
	}
	#btn-menu:checked ~ .container-menu .cont-menu{
		transform: translateX(0%);
	}
	.cont-menu nav{
		transform: translateY(15%);
	}
	.cont-menu nav a{
		display: block;
		text-decoration: none;
		padding: 20px;
		color: #c7c7c7;
		border-left: 5px solid transparent;
		transition: all 400ms ease;
	}
	.cont-menu nav a:hover{
		border-left: 5px solid #c7c7c7;
		background: #1f1f1f;
	}
	.cont-menu label{
		position: absolute;
		right: 5px;
		top: 10px;
		color: #fff;
		cursor: pointer;
		font-size: 18px;
	}
	/*Fin de Menù lateral*/

	/*imagen de logo*/
	img {
  border-radius: 50%;
		}
	.presentacion {
	color: #ffff;
	text-align: justify;

	font-size: 1.60em;
	margin-top: 60px;
	margin-right: 120px;
  	margin-left: 120px;
	
	}
	select {
   -webkit-appearance:none;
   -moz-appearance:none;
   -ms-appearance:none;
   appearance:none;
   outline:0;
   box-shadow:none;
   border:0!important;
   background: #5c6664;
   background-image: none;
   flex: 1;
   padding: 0 .5em;
   color:#fff;
   cursor:pointer;
   font-size: 1em;
   font-family: 'Open Sans', sans-serif;
}
select::-ms-expand {
   display: none;
}
.select {
   position: relative;
   display: flex;
   width: 20em;
   height: 3em;
   line-height: 3;
   background: #5c6664;
   overflow: hidden;
   border-radius: .25em;
}
.select::after {
   content: '\25BC';
   position: absolute;
   top: 0;
   right: 0;
   padding: 0 1em;
   background: #2b2e2e;
   cursor:pointer;
   pointer-events:none;
   transition:.25s all ease;
}
.select:hover::after {
   color: #23b499;
}
/*select box seleccionar modelo*/
body {
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	align-items: center;
	height: 100vh;
	
	font-family: 'Open Sans', sans-serif;
	color: #fff;
 }
 selectDataBase {
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	appearance:none;
	outline:0;
	box-shadow:none;
	border:0!important;
	background: #5c6664;
	background-image: none;
	flex: 1;
	padding: 0 .5em;
	color:#fff;
	cursor:pointer;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
 }
 .selectDataBase::-ms-expand {
	display: none;
 }
 .selectDataBase {
	position: relative;
	display: flex;
	width: 20em;
	height: 3em;
	line-height: 3;
	background: #5c6664;
	overflow: hidden;
	border-radius: .25em;
 }
 .selectDataBase::after {
	content: '\25BC';
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 1em;
	background: #2b2e2e;
	cursor:pointer;
	pointer-events:none;
	transition:.25s all ease;
 }
 .selectDataBase:hover::after {
	color: #23b499;
 }


 /*SELECCIONAR BASE DE MODELO*/

 alemanDatabase {
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	appearance:none;
	outline:0;
	box-shadow:none;
	border:0!important;
	background: #5c6664;
	background-image: none;
	flex: 1;
	padding: 0 .5em;
	color:#fff;
	cursor:pointer;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
 }
 .alemanDatabase::-ms-expand {
	display: none;
 }
 .alemanDatabase {
	position: relative;
	display: flex;
	width: 20em;
	height: 3em;
	line-height: 3;
	background: #5c6664;
	overflow: hidden;
	border-radius: .25em;
 }
 .alemanDatabase::after {
	content: '\25BC';
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 1em;
	background: #2b2e2e;
	cursor:pointer;
	pointer-events:none;
	transition:.25s all ease;
 }
 .alemanDatabase:hover::after {
	color: #23b499;
 }

 belgiumDatabase {
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	appearance:none;
	outline:0;
	box-shadow:none;
	border:0!important;
	background: #5c6664;
	background-image: none;
	flex: 1;
	padding: 0 .5em;
	color:#fff;
	cursor:pointer;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
 }
 .belgiumDatabase::-ms-expand {
	display: none;
 }
 .belgiumDatabase {
	position: relative;
	display: flex;
	width: 20em;
	height: 3em;
	line-height: 3;
	background: #5c6664;
	overflow: hidden;
	border-radius: .25em;
 }
 .belgiumDatabase::after {
	content: '\25BC';
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 1em;
	background: #2b2e2e;
	cursor:pointer;
	pointer-events:none;
	transition:.25s all ease;
 }
 .belgiumDatabase:hover::after {
	color: #23b499;
 }


 chinaDatabase {
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	appearance:none;
	outline:0;
	box-shadow:none;
	border:0!important;
	background: #5c6664;
	background-image: none;
	flex: 1;
	padding: 0 .5em;
	color:#fff;
	cursor:pointer;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
 }
 .chinaDatabase::-ms-expand {
	display: none;
 }
 .chinaDatabase {
	position: relative;
	display: flex;
	width: 20em;
	height: 3em;
	line-height: 3;
	background: #5c6664;
	overflow: hidden;
	border-radius: .25em;
 }
 .chinaDatabase::after {
	content: '\25BC';
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 1em;
	background: #2b2e2e;
	cursor:pointer;
	pointer-events:none;
	transition:.25s all ease;
 }
 .chinaDatabase:hover::after {
	color: #23b499;
 }

 modelEmpty {
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	appearance:none;
	outline:0;
	box-shadow:none;
	border:0!important;
	background: #5c6664;
	background-image: none;
	flex: 1;
	padding: 0 .5em;
	color:#fff;
	cursor:pointer;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
 }
 .modelEmpty::-ms-expand {
	display: none;
 }
 .modelEmpty {
	position: relative;
	display: flex;
	width: 20em;
	height: 3em;
	line-height: 3;
	background: #5c6664;
	overflow: hidden;
	border-radius: .25em;
 }
 .modelEmpty::after {
	content: '\25BC';
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 1em;
	background: #2b2e2e;
	cursor:pointer;
	pointer-events:none;
	transition:.25s all ease;
 }
 .modelEmpty:hover::after {
	color: #23b499;
 }
 div#general2{
	margin: auto;
	margin-top: 150;
	width: 960;
	height: 800px;
	
}






html * {
  box-sizing: border-box;
}

p {
  margin: 0;
}

.upload__box {
  padding: 40px;
}
.upload__inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.upload__btn {
  display: inline-block;
  font-weight: 600;
  color: #fff;
  text-align: center;
  min-width: 116px;
  padding: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 2px solid;
  background-color: #4045ba;
  border-color: #4045ba;
  border-radius: 10px;
  line-height: 26px;
  font-size: 14px;
}
.upload__btn:hover {
  background-color: unset;
  color: #4045ba;
  transition: all 0.3s ease;
}

.upload__img-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  
}
.upload__img-box {
  width: 200px;
  padding: 0 10px;
  margin-bottom: 12px;
}



.img-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-bottom: 100%;
}

.containerrr{
	color: white;
	height: 200;
	width: 300;
}
.row {
	width: 100%;
	margin-bottom: 30px;
  }
div#resultadoo{

	margin: auto;
	margin-left: 350px;
	color: white;
}
div#botones{
	display:  flex;
	margin: auto;
	margin-left: 250px;
}

div#botonparaenviar{
	margin: auto;
	margin-left: 15px;
	margin-right: 20px;
}
div#llimpiar{
	margin: auto;
	margin-right: 2px;
}

div#resultadomodelo{
	
	margin-left: 5px;
	margin-right: 600px;
	color: white;
	
}



/*button check*/

.toggleWrapper {
	margin-left: 380px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    padding: 0 200px;
    transform: translate3d(-50%, -50%, 0);
  }
  .toggleWrapper input {
    position: absolute;
    left: -99em;
  }
  
  .toggle {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 75px;
    height: 36px;
    background-color: rgb(38, 53, 38);
    border-radius: 84px;
    transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  .toggle:before {
    content: "Modelo a color";
    position: absolute;
    left: -120px;
    top: 5px;
    font-size: 16px;
	color: white;
  }
  .toggle:after {
    content: "Escala de grises";
    position: absolute;
    right: -135px;
    top: 5px;
    font-size: 16px;
    color: gray;
  }
  
  .toggle__handler {
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 3px;
    left: 3px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: rotate(-45deg);
  }
  
  

  
  input:checked + .toggle {
    background-color: rgba(0, 0, 0, 0.3);
  }
  input:checked + .toggle:before {
    color: gray;
  }
  input:checked + .toggle:after {
    color: #ffffff;
  }
  input:checked + .toggle .toggle__handler {
    background-color: white;
    transform: translate3d(40px, 0, 0) rotate(0);
  }
  